/ {
    #address-cells = <0x1>;
    #size-cells = <0x1>;
    model = "Arduino Nano 33 BLE";
    compatible = "arduino,arduino_nano_33_ble";

    chosen {
        zephyr,console = &uart0;
        zephyr,bt-hci = &bt_hci_controller;
        zephyr,bt-mon-uart = &uart0;
    };

    aliases {
        pwm-led0 = &red_pwm_led;
        pwm-led1 = &green_pwm_led;
        pwm-led2 = &blue_pwm_led;
        pwm-led3 = &yellow_pwm_ledy;
    };

    pwmleds {
        compatible = "pwm-leds";

        red_pwm_led: led_pwm_0 {
            label = "Red LED";
            pwms = <&pwm0 0x00  0x1312d00 PWM_POLARITY_INVERTED>; 
        };

        green_pwm_led: led_pwm_1 {
            label = "Green LED";
            pwms = <&pwm0 1 0x1312d00 PWM_POLARITY_INVERTED>;
        };

        blue_pwm_led: led_pwm_2 {
            label = "Blue LED";
            pwms = <&pwm0 2 0x1312d00 PWM_POLARITY_INVERTED>;
        };

        yellow_pwm_ledy: led_pwm_3 {
            label = "Yellow LED";
            pwms = <&pwm2 0 0x1312d00 PWM_POLARITY_NORMAL>;
        };
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};

&pwm0 {
    status = "okay";
};

&pwm2 {
    status = "okay";
};